/* nejsme vcerejsi, pouzivame moderni box model */
html {
    box-sizing: border-box;
}

*,
:after,
:before {
    box-sizing: inherit;
}


/* -------------------------------------------------- */

/*
pouzivame mobile first pristup
tj. vychozi styly mimo media query jsou pro nejmensi mobilni zarizeni (telefony)
s pribyvajici sirkou pridavame media query pro...
tablety:
@media (min-width: 480px) {
}
notebook/pc:
@media (min-width: 860px) {
}
*/
                /* hezké CSS :) */

body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

.paticka {
    text-align: center;
    font-size: 14px;
    color: silver;
}

.paticka a {
    color: silver;
}


/* ------------------------------- */
/* ----- DOLE BUDE TVOJE CSS ----- */
/* ------------------------------- */

/*Hlavní recept*/

.hlavni-recept {
    background-image: url(images/burger.jpg);
    background-blend-mode: multiply;
    background-color: rgba(128, 128, 128, 0.719);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 200px;
    border-bottom: 1px solid white;
}

.recept-meta {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}

.recept {
    min-height: 90px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border-bottom: 1px solid white;
    background-blend-mode: multiply;
    background-color: rgba(128, 128, 128, 0.719);
}

.recept2 {
    background-image: url(images/sushi.jpg);
}

.recept3 {
    background-image: url(images/kure.jpg);
}

.recept4 {
    background-image: url(images/rajcata.jpg);
}

.recept5 {
    background-image: url(images/grilovani.jpg);
}

.recept-kategorie {
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.recept-komentare {
    color: white;
}

.recept-nazev {
    color: white;
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    padding: 10px;
}

.hlavni-recept .recept-nazev {
    font-size: 28px;
    font-family: 'Raleway';
    padding-top: 120px;
}

@media (min-width: 480px) and (max-width: 859px) {


    .doporucujeme {
        display: flex;
        flex-wrap: wrap;
    }

    .hlavni-recept {
        flex: 1 100%;
        min-height: 250px;
    }

    .sloupec {
        flex: 1 50%;
        display: flex;
        flex-direction: column;
    }

    .sloupec:nth-child(2) {
        border-right: 1px solid white;
    }

    .recept {
        flex: 1 50%;
        min-height: 150px;
    }



}



@media (min-width: 860px) {

    .doporucujeme {
        display: flex;
        flex-wrap: wrap;


    }

    .hlavni-recept {
        flex: 1 33.33333%;
      

    }

    .recept {
        min-height: 200px;
        border-left: 1px solid white;
    }



}
